.layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-family: Verdana;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
  color: #212121;
  letter-spacing: 0.04em;
  margin-bottom: 58px;
  max-width: 608px;
}


@media (max-width: 1279px) {
  .layout {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 40px 32px;
  }

  .title {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding: 52px 32px;
  }

  .title {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 24px;
  }
}
