.layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 32px;
  position: relative;
}

@media (max-width: 1279px) {
  .layout {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 24px;
  }
}

@media (max-width: 479px) {
  .main {
    padding: 16px;
  }
}
